<div class='col-md-6' style='margin: 0 auto;'>
  <%= link_to 'All products', seller_products_path %>
  <h2>Product Name: <%= @product.name %></h2>
  SKU: <%= @product.sku %>
  <br />
  Price: <%= @product.price %>
  <br />
  Quantity: <%= @product.quantity %>
</div>